body {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 15px;
}
$principal-color: #ff5252;

@mixin mixin-border-1 {
  border: solid 1px white;
  color: white;
  padding: 1rem;
}

@mixin mixin-text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@mixin mixin-text-style-1($sise) {
  font-style: normal;
  font-weight: bold;
  font-size: $sise;
}
.header {
  height: 150px;
  background-color: $principal-color;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  .header-title {
    @include mixin-text-style-1(2rem);
    @include mixin-text-shadow();
    color: white;
  }
  .header-creator {
    @include mixin-border-1();
   
    span {
      @include mixin-text-style-1(1rem);
      @include mixin-text-shadow();
    }
    a {
      @include mixin-text-style-1(0.7rem);
      @include mixin-text-shadow();
    display: inline-flexbox;
    margin-left: 5px;
    }
  }
}

.button1 {
  padding: 0.5rem;
  background-color: orange;
  color: white;

  border: solid 1px white;
  border-radius: 10px;
  cursor: pointer;
}

.center-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.modal {
  background: rgba(23, 24, 23, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-form {
    background-color: white;
    padding: 2rem;
    border: solid 1px black;
    div {
      margin-bottom: 1rem;
    }
    label {
      display: inline-block;
      width: 100px;
    }
  }
  .modal-form-footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
}
